*{
    box-sizing: border-box;
}
.flex-container {   
    display: flex;
    height: 200px;
    align-items:center;
    background:#ecf013;
}
.flex-container > h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10vh;
    margin: auto;
}
.nav {
    height: auto;
    background: linear-gradient(to right, black,white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 10px solid #ecf013;
    border-bottom: none;
    border-top: none;
}
.nav div {
    display: flex;
    width: 90px;
    font-weight: bold;
    align-items: center;
    margin: 5px;
    padding: 10px;
    background: linear-gradient(yellow,orange);
    font-size: 15px;
    line-height: 15px;
    border-radius: 10px;
}
a {
    text-decoration: none;
}