:root {
  --cubeside: 6.25rem;
  --ncubeside: -6.25rem;
  --lcubeside: -12.5rem;
}
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #e7f0f3;
}

.name {
  position: absolute;
  top: 10vh;
}

.main {
  width: 12.5rem;
  height: 12.5rem;
  position: relative;
  transform-style: preserve-3d;
  perspective: 10000rem;
  animation: boom 15s infinite linear;
  transform-origin: 50% 50% var(--ncubeside);
}

@keyframes boom {
  to {
    transform: rotateX(360deg) rotateZ(360deg) rotateY(360deg);
  }
}

.face {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: absolute;
  top: 0%;
  left: 0%;
  perspective: 500px;
  background-color: black;
}
.box {
  border: black 2px solid;
  border-radius: 5px;
}
.face1 .box {
  background-color: #ffa500;
}
.face2 {
  transform: translate3d(0, 0, var(--lcubeside));
}
.face2 .box {
  background-color: #0000ff;
}
.face3 {
  transform: rotateX(90deg) translate3d(0, var(--ncubeside), var(--ncubeside));
}
.face3 .box {
  background-color: #ffffff;
}

.face4 {
  transform: rotateX(90deg) translate3d(0, var(--ncubeside), var(--cubeside));
}
.face4 .box {
  background-color: #ffff00;
}

.face5 {
  transform: rotateX(90deg) rotateY(90deg)
    translate3d(0, var(--ncubeside), var(--ncubeside));
}
.face5 .box {
  background-color: #008000;
}

.face6 {
  transform: rotateX(90deg) rotateY(90deg)
    translate3d(0, var(--ncubeside), var(--cubeside));
}
.face6 .box {
  background-color: #ff0000;
}

footer {
  text-align: center;
  height: 7vh;
  background: rgb(221, 221, 221);
}
@media (max-width: 25rem) {
  .main {
    width: 8rem;
    height: 8rem;
  }
  :root {
    --cubeside: 4rem;
    --ncubeside: -4rem;
    --lcubeside: -8rem;
  }
  .box {
    border: black 2px solid;
  }
}
