.overlay {
    &::before {
        content: "";
        position: fixed;
        background-color: black;
        opacity: 0.5;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
    }
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    visibility: hidden;
}
.supportbox {
    position: fixed;
    width: 92%;
    max-width: 33.75rem;
    height: 28.125rem;
    background-color: white;
    z-index: 11;
    flex-direction: column;
    justify-content: space-evenly;
    img {
        width: 90px;
        height: 90px;
    }
    h3 {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
    }
    .gotit {
        width: 110px;
    }
}
.mobilemenu {
    &::before {
        opacity: 0.7;
        background: linear-gradient(black, transparent);
    }
}
.backprojectoverlay {
    min-height: 1200px;
    position: absolute;
    top: 8rem;
    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .backprojectmodal {
        position: absolute;
        max-width: 45.625rem;
        width: 93%;
        z-index: 11;
        padding-top: 3.125rem;
        padding-bottom: 2rem;
        min-height: 910px;
        background: white;
        .closemodal {
            cursor: pointer;
            position: absolute;
            top: 2rem;
            right: 1.875rem;
            &:hover {
                path {
                    opacity: 1;
                }
            }
            @include breakpoint(vsmall) {
                top: 2.25rem;
            }
        }
        .modalcontainer {
            min-height: 860px;
        }
        @include breakpoint(vsmall) {
            padding-top: 1.6rem;
        }
        .backprojectmodalboxes {
            min-height: 10rem;
            margin-top: 1.8rem;
            flex-wrap: wrap;
            padding-right: 5%;
            padding-left: 5%;
            padding-bottom: 2rem;
            margin-top: 2rem;
            @include breakpoint(phone){
                padding-top: 1.5rem;
            }
            .pl1{
                @include breakpoint(phone){
                    display:none;
                }
            }
            .pl2{
                height: 3rem;
                display: none;
                @include breakpoint(phone){
                    display:block;
                }
            }
            h4{
                padding-right: 0.7rem;
                @include breakpoint(phone){
                    width: 100%;
                }
            }
            .pricehead {
                min-height: 4.5rem;
                @include breakpoint(phone) {
                    min-height: 3rem;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }
            }
            .pledge {
                color:$moderateCyan;
                font-weight: 700;
            }
            // .price_left{
            //     justify-self: initial;
            // }
            .price {
                font-weight: 700;
                color: black;
                font-size: 2rem;
            }
            .reward {
                background-color: $DarkCyan;
                color: white;
            }
        }
    }
}
